## MERGE THE FULL DATA SET

### IMPORT THE FULL STOCK PRICE DATASET

In [2]:
import pandas as pd
import os

directory_path = '/Users/admin/code/derksol/finance/raw_data'

# List all files in the directory
files = os.listdir(directory_path)

# Iterate over each file and read it into a DataFrame
for file_name in files:
    file_path = os.path.join(directory_path, file_name)
    Stock_price_df = pd.read_csv(file_path, encoding = "ISO-8859-1")
    
Stock_price_df = Stock_price_df.drop(columns=['ï»¿'])
Stock_price_df.head()

         date      close quarter quarter_str symbol
0  2000-03-31  10.817302  2000Q1      2000Q1  AABPX
1  2000-06-30  11.394444  2000Q2      2000Q2  AABPX
2  2000-09-30  11.656825  2000Q3      2000Q3  AABPX
3  2000-12-31  11.893016  2000Q4      2000Q4  AABPX
4  2001-03-31  11.996129  2001Q1      2001Q1  AABPX

In [3]:
Stock_price_df['close']

0         10.817302
1         11.394444
2         11.656825
3         11.893016
4         11.996129
            ...
219902    12.086984
219903    13.066694
219904    10.378629
219905     8.368810
219906     8.478659
Name: close, Length: 219907, dtype: float64

### Import the Y Target growth (close)

In [4]:
file_path = '/Users/admin/code/derksol/finance/raw_data/y_target_growth.csv'

# Read the CSV file into a DataFrame
y_target_growth_df = pd.read_csv(file_path)

y_target_growth_df.head (5)

   Unnamed: 0 symbol       quarter_str        date     close
0           0  AABPX               NaN  2000-03-31       NaN
1           1  AABPX  2000Q2 vs 2000Q1  2000-06-30  0.053354
2           2  AABPX  2000Q3 vs 2000Q2  2000-09-30  0.023027
3           3  AABPX  2000Q4 vs 2000Q3  2000-12-31  0.020262
4           4  AABPX  2001Q1 vs 2000Q4  2001-03-31  0.008670

In [5]:
y_target_growth_df ['close']

0              NaN
1         0.053354
2         0.023027
3         0.020262
4         0.008670
            ...
219896    0.382950
219897    0.081055
219898   -0.205719
219899   -0.193650
219900    0.013126
Name: close, Length: 219901, dtype: float64

### IMPORT THE Full processed dataset - X metric growth

In [6]:
file_path = '/Users/admin/code/derksol/finance/raw_data/X_metrics_growth.csv'

# Read the CSV file into a DataFrame
X_metrics_growth_df = pd.read_csv(file_path)

# Drop the unnamed column in-place
X_metrics_growth_df.drop(columns=['Unnamed: 0'], inplace=True)

X_metrics_growth_df.head(5)

,symbol,time_frame,date,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,tangibleBookValuePerShare,...,averagePayables,averageInventory,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare
0,AABPX,2023Q3 vs 2023Q2,2023-06-30,0.061599,-7.090000e-01,-0.157992,-0.180327,-0.257108,-0.083661,-0.096105,...,-0.024928,0.063180,0.088558,-0.239255,-0.118737,-0.081353,0.314500,0.134735,-0.682432,-0.495528
1,AABPX,2023Q2 vs 2023Q1,2023-03-31,0.145790,-1.591602e+00,0.433673,0.444980,-0.194237,0.060572,0.051795,...,0.068637,0.132410,-0.140183,0.011866,0.041848,0.163039,-0.011726,-0.040167,-1.557814,0.625941
2,AABPX,2023Q1 vs 2022Q4,2022-12-31,-0.216065,-5.058721e-01,-1.405002,-1.449164,-0.033316,0.017841,0.058061,...,-0.046595,0.071105,0.360372,0.269268,0.391018,-0.264907,-0.212144,-0.281102,-0.514533,-0.397230
3,AABPX,2022Q4 vs 2022Q3,2022-09-30,0.080943,-4.050739e-01,-6.732149,-5.659948,0.005101,0.049864,0.101799,...,-0.106264,0.005306,-0.230030,-0.143975,-0.026607,0.298752,0.168191,0.027334,-0.433330,0.348548
4,AABPX,2022Q3 vs 2022Q2,2022-06-30,0.040987,1.639538e-08,-4.675824,-9.083313,-0.044171,-0.045420,-0.105457,...,0.025600,0.069264,0.138736,-0.092288,0.016828,-0.121833,0.101671,-0.016549,0.047581,0.413332

In [7]:
#check shapes
X_metrics_growth_df.shape

(256189, 60)

In [9]:
y_target_growth_df.shape

(219901, 5)

## Merge the two dataframes - 
Y-target growth and X metric growth

In [12]:
y_target_growth_df

        Unnamed: 0 symbol       quarter_str        date     close
0                0  AABPX               NaN  2000-03-31       NaN
1                1  AABPX  2000Q2 vs 2000Q1  2000-06-30  0.053354
2                2  AABPX  2000Q3 vs 2000Q2  2000-09-30  0.023027
3                3  AABPX  2000Q4 vs 2000Q3  2000-12-31  0.020262
4                4  AABPX  2001Q1 vs 2000Q4  2001-03-31  0.008670
...            ...    ...               ...         ...       ...
219896      219902   ZYXI  2022Q4 vs 2022Q3  2022-12-31  0.382950
219897      219903   ZYXI  2023Q1 vs 2022Q4  2023-03-31  0.081055
219898      219904   ZYXI  2023Q2 vs 2023Q1  2023-06-30 -0.205719
219899      219905   ZYXI  2023Q3 vs 2023Q2  2023-09-30 -0.193650
219900      219906   ZYXI  2023Q4 vs 2023Q3  2023-12-31  0.013126

[219901 rows x 5 columns]

In [15]:
result_df = pd.merge(X_metrics_growth_df, y_target_growth_df[["quarter_str",'close',"symbol"]], 
                     left_on=['time_frame',"symbol"], 
                     right_on=['quarter_str',"symbol"],how='left')
result_df.head(5)

,symbol,time_frame,date,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,tangibleBookValuePerShare,...,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare,quarter_str,close
0,AABPX,2023Q3 vs 2023Q2,2023-06-30,0.061599,-7.090000e-01,-0.157992,-0.180327,-0.257108,-0.083661,-0.096105,...,0.088558,-0.239255,-0.118737,-0.081353,0.314500,0.134735,-0.682432,-0.495528,2023Q3 vs 2023Q2,0.030212
1,AABPX,2023Q2 vs 2023Q1,2023-03-31,0.145790,-1.591602e+00,0.433673,0.444980,-0.194237,0.060572,0.051795,...,-0.140183,0.011866,0.041848,0.163039,-0.011726,-0.040167,-1.557814,0.625941,2023Q2 vs 2023Q1,-0.010530
2,AABPX,2023Q1 vs 2022Q4,2022-12-31,-0.216065,-5.058721e-01,-1.405002,-1.449164,-0.033316,0.017841,0.058061,...,0.360372,0.269268,0.391018,-0.264907,-0.212144,-0.281102,-0.514533,-0.397230,2023Q1 vs 2022Q4,-0.054566
3,AABPX,2022Q4 vs 2022Q3,2022-09-30,0.080943,-4.050739e-01,-6.732149,-5.659948,0.005101,0.049864,0.101799,...,-0.230030,-0.143975,-0.026607,0.298752,0.168191,0.027334,-0.433330,0.348548,2022Q4 vs 2022Q3,-0.017962
4,AABPX,2022Q3 vs 2022Q2,2022-06-30,0.040987,1.639538e-08,-4.675824,-9.083313,-0.044171,-0.045420,-0.105457,...,0.138736,-0.092288,0.016828,-0.121833,0.101671,-0.016549,0.047581,0.413332,2022Q3 vs 2022Q2,-0.030958

### Cross Check result

In [22]:
result_df.sample()

,symbol,time_frame,date,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,tangibleBookValuePerShare,...,daysSalesOutstanding,daysPayablesOutstanding,daysOfInventoryOnHand,receivablesTurnover,payablesTurnover,inventoryTurnover,roe,capexPerShare,quarter_str,close
105817,HBNC,2018Q4 vs 2018Q3,2018-09-30,-0.00645,0.005137,-0.59497,-0.570641,0.102183,0.030077,0.04284,...,0.023678,NaN,NaN,-0.02313,NaN,NaN,-0.024212,-0.900147,2018Q4 vs 2018Q3,-0.166346

In [24]:
y_target_growth_df[y_target_growth_df["symbol"] == "HBNC"].tail(10)

       Unnamed: 0 symbol       quarter_str        date     close
92763       92763   HBNC  2016Q3 vs 2016Q2  2016-09-30  0.127494
92764       92764   HBNC  2016Q4 vs 2016Q3  2016-12-31  0.226278
92765       92765   HBNC  2017Q1 vs 2016Q4  2017-03-31  0.157718
92766       92766   HBNC  2017Q2 vs 2017Q1  2017-06-30 -0.001210
92767       92767   HBNC  2017Q3 vs 2017Q2  2017-09-30  0.013383
92768       92768   HBNC  2017Q4 vs 2017Q3  2017-12-31  0.048688
92769       92769   HBNC  2018Q1 vs 2017Q4  2018-03-31  0.056678
92770       92770   HBNC  2018Q2 vs 2018Q1  2018-06-30  0.047427
92771       92771   HBNC  2018Q3 vs 2018Q2  2018-09-30  0.004588
92772       92772   HBNC  2018Q4 vs 2018Q3  2018-12-31 -0.166346
92773       92773   HBNC  2019Q1 vs 2018Q4  2019-03-31 -0.021760
92774       92774   HBNC  2019Q2 vs 2019Q1  2019-06-30 -0.033889
92775       92775   HBNC  2019Q3 vs 2019Q2  2019-09-30  0.028577
92776       92776   HBNC  2019Q4 vs 2019Q3  2019-12-31  0.102410
92777       92777   HBNC  2020Q1 vs 2019Q4  2020-03-31 -0.165015
92778       92778   HBNC  2020Q2 vs 2020Q1  2020-06-30 -0.333814
92779       92779   HBNC  2020Q3 vs 2020Q2  2020-09-30  0.017071
92780       92780   HBNC  2020Q4 vs 2020Q3  2020-12-31  0.319666
92781       92781   HBNC  2021Q1 vs 2020Q4  2021-03-31  0.298394
92782       92782   HBNC  2021Q2 vs 2021Q1  2021-06-30  0.025692
92783       92783   HBNC  2021Q3 vs 2021Q2  2021-09-30 -0.051832
92784       92784   HBNC  2021Q4 vs 2021Q3  2021-12-31  0.136353
92785       92785   HBNC  2022Q1 vs 2021Q4  2022-03-31  0.054921
92786       92786   HBNC  2022Q2 vs 2022Q1  2022-06-30 -0.141659
92787       92787   HBNC  2022Q3 vs 2022Q2  2022-09-30  0.056857
92788       92788   HBNC  2022Q4 vs 2022Q3  2022-12-31 -0.122934
92789       92789   HBNC  2023Q1 vs 2022Q4  2023-03-31 -0.128990
92790       92790   HBNC  2023Q2 vs 2023Q1  2023-06-30 -0.309025
92791       92791   HBNC  2023Q3 vs 2023Q2  2023-09-30  0.130784
92792       92792   HBNC  2023Q4 vs 2023Q3  2023-12-31 -0.079074